<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Евгений Шевнин">
        <meta name="description" content="Лакокрасочные Покрытия">
        <meta name="keywords" content="Лакокрасочные, покрытия, покраска, лак, дерева, реставрация">
        <title>СитиПро: Лакокрасочные Покрытия</title>
        <link rel="stylesheet" href="/app/static/style.css">
    </head>
    <body>
        <nav>
            <img src="{{ Staticimages }}/logo.png" height="80px" width="120px">
            <a href="#about_Us">О нас</a>
            <a href="#types_of_Services">Виды услуг</a>
            <a href="#portfolio">Портфолио</a>
            <a href="#form">Оставьте заявку</a>
            <a href="#contacts">Контакты</a>
            <span>+7(902)907-95-94</span>
        </nav>
        <header>
            <div class="h1">
                <br>
                <h1>РЕСТАВРАЦИЯ<br>ЛАКОКРАСОЧНЫХ<br>ПОКРЫТИЙ</h1>
                <br>
                <br>
                <br>
                <br>
                <button>Получить консультацию</button>
            </div>
            <div class="square">
                <img src="{{ Staticimages }}/wrkrimg1.png" width="480px" height="520px">
            </div>
        </header>
        <main>
            <hr>
            <div id="about_Us"></div>
            <div class="au1">
                <h2 class="autxt1">О нас</h2>
            </div>
                <div id="au1" class="au2">
                    <p>Наша компания - ведущий производитель лакокрасочных покрытий на рынке. Мы специализируемся на производстве высококачественных красок, лаков, эмалей и других покрытий для различных поверхностей.</p>
                    <br>
                    <p>Наши продукты прошли тщательное тестирование и сертификацию, что гарантирует их надежность, долговечность и высокую степень защиты от внешних воздействий. Мы постоянно следим за инновациями в отрасли и внедряем новейшие технологии, чтобы предложить нашим клиентам самые современные и эффективные решения.</p>
                </div>
                <div id="au2" class="au2">
                    <img src="{{ Staticimages }}/wrkrimg2.png" alt="Персонал">
                </div>
                <div id="odds">
                    <div class="odds"><img src="{{ Staticimages }}/odds1.png" alt="Гарантия" width="80px" height="80px"> <p>Гарантия на все виды работ</p></div>
                    <div class="odds"><img src="{{ Staticimages }}/odds2.png" alt="Качество материалов" width="80px" height="80px"> <p>В работе используются материалы от ведущих европейских производителей</p></div>
                    <div class="odds"><img src="{{ Staticimages }}/odds3.png" alt="Гарантия" width="80px" height="80px"> <p>Высококвалифицированный персонал</p></div>
                    <div class="odds"><img src="{{ Staticimages }}/odds4.png" alt="Гарантия" width="80px" height="80px"> <p>Своя лаболотория цветоподбора</p></div>
                </div>
                <hr>
            </div>
            <div id="types_of_Services"></div>
            <div id="catalog">
                <h2>Виды услуг</h2>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg1.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon1.png"><p>Реставрация лакокрасочного покрытия</p><img class="ctlgimg2" src="{{ Staticimages }}/arrow.png"></div></button>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg2.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon2.png"><p>Профессиональная окраска на объекте</p><img class="ctlgimg3" src="{{ Staticimages }}/arrow.png"></div></button>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg3.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon3.png"><p>Профессиональная окраска экстерьера</p><img class="ctlgimg3" src="{{ Staticimages }}/arrow.png"></div></button>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg4.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon4.png"><p>Профессиональная окраска ограждений и витражей</p><img class="ctlgimg2" src="{{ Staticimages }}/arrow.png"></div></button>
            </div>
            <div class="h3">
                <h3>Нам доверяют</h3>
                <img src="{{ Staticimages }}/supp1.png" alt="ФОДД">
                <img src="{{ Staticimages }}/supp2.png" alt="Российские железные дороги">
                <img src="{{ Staticimages }}/supp3.png" alt="АСК Теллур">
            </div>
            <hr>
            <div id="portfolio"></div>
            <div id="port1">
                <h2>Портфолио работ</h2>
            </div>
            <div class="port1">
            <h4>Kazakov Grand Loft</h4>
            <p>Kazakov Grand Loft — новый проект в исторической части Москвы, дом для тех, кто не идет на компромиссы. Все, на что город будет равняться в обозримой перспективе, находится здесь. И в центре этого мира вы. Индивидуальность даже в мелочах и комфорт, возведенный в абсолют — чем не рецепт совершенства?</p>
            <p>Проект прогрессивной авторской архитектуры, умного наполнения и персональных панорамных видов на город. Здесь созданы условия премиального сервиса, чтобы вы не отвлекались на бытовые мелочи, а просто наслаждались жизнью.</p>
            </div>
            <div class="port2">
                <img src="{{ Staticimages }}/Portimg1.png" alt="Kazakov Grand Loft">
            </div>
            <div></div>
            <hr style="clear: both; margin-top: 750px; margin-bottom: 50px;">
            <div id="form"></div>
            <div id="form1">
                <h2>Оставьте заявку</h2>
            </div>
            <form class="form">
                <div class="name">
                    <input type="text" placeholder="Ваше имя" id="name" name="name" required>
                </div>
                <div class="phone">
                    <input type="tel" placeholder="Номер телефона" id="phone" name="phone" required>
                </div>
                <div class="message">
                    <textarea id="message" placeholder="Ваше сообщение" name="message" rows="4" cols="50"></textarea><br><br>
                    <input type="checkbox" id="confirm" name="confirm" required>
                    <label for="confirm">Нажимая кнопку "ОТПРАВИТЬ" вы соглашаетесь на обработку ваших персональных данных</label><br><br>
                    <input type="submit" value="Отправить">
                    </div>
            </form>
            <hr style="clear: both; margin-top: 100px; margin-bottom: 50px;">
            <div id="contacts"></div>
            <div id="contacts1">Контакты</div>
            <div class="contacts">
                <div class="contacts1">
                    <p class="cntcp">г. Москва</p>
                    <p>нагорный проезд, 12Бс2</p>
                    <p class="cntcp">+7(902)907-95-94</p>
                    <p style="cursor: pointer;"><u>заказать звонок</u></p>
                    <p class="cntcp">Пн-Вс 9:00-20:00</p>
                    <p>без выходных</p>
                    <br>
                    <img src="{{ Staticimages }}/vk.png" alt="ВКонтакте">
                    <img src="{{ Staticimages }}/TG.png" alt="Telegram">
                    <img src="{{ Staticimages }}/whatsapp.png" alt="What's Up">
                    <p class="pol"><u>Политика конфиденциальности</u></p>
                </div>
            <div style="position:relative;overflow:hidden;float: right;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/nagorny_proyezd_12bs2/Z04YcAdmT0UDQFtvfXp5d3pjYA==/?indoorLevel=1&ll=37.607095%2C55.686277&utm_medium=mapframe&utm_source=maps&z=16.53" style="color:#eee;font-size:12px;position:absolute;top:14px;">Нагорный проезд, 12Бс2 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.607095%2C55.686277&mode=whatshere&whatshere%5Bpoint%5D=37.606606%2C55.686420&whatshere%5Bzoom%5D=17&z=16.53" width="700" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
        </main>
        <footer id="footer">

        </footer>
    </body>
</html>