<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Евгений Шевнин">
        <meta name="description" content="Лакокрасочные Покрытия">
        <meta name="keywords" content="Лакокрасочные, покрытия, покраска, лак, дерева, реставрация">
        <title>СитиПро: Лакокрасочные Покрытия</title>
        <link rel="stylesheet" href="/app/static/style.css">
    </head>
    <body>
        <nav>
            <a href="#header"><img src="{{ Staticimages }}/logo.png" height="80px" width="120px"></a>
            <div class="nav-links">
                <a href="#about_Us">О нас</a>
                <a href="#types_of_Services">Виды услуг</a>
                <a href="#portfolio">Портфолио</a>
                <a href="#form">Оставьте заявку</a>
                <a href="#contacts">Контакты</a>
                <span>+7(902)907-95-94</span>
            </div>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <div id="header"></div>
        <header>
            <div class="content">
                <div class="h1">
                    <h1>РЕСТАВРАЦИЯ<br>ЛАКОКРАСОЧНЫХ<br>ПОКРЫТИЙ</h1>
                    <button>Получить консультацию</button>
                </div>
                <div class="square">
                    <div class="square-placeholder">
                        <img src="{{ Staticimages }}/wrkrimg1.png" alt="Реставрация покрытий" class="active">
                        <img src="{{ Staticimages }}/wrkrimg22.png" alt="Реставрация покрытий">
                        <img src="{{ Staticimages }}/wrkrimg33.png" alt="Реставрация покрытий">
                    </div>
                    <div class="slider-controls">
                        <div class="slider-dot active" data-slide="0"></div>
                        <div class="slider-dot" data-slide="1"></div>
                        <div class="slider-dot" data-slide="2"></div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <hr>
            <div id="about_Us"></div>
            <div class="au1">
                <h2 class="autxt1">О нас</h2>
            </div>
            <div class="au2">
                <div class="au2-content">
                    <div id="au1">
                        <p>Наша компания - ведущий производитель лакокрасочных покрытий на рынке. Мы специализируемся на производстве высококачественных красок, лаков, эмалей и других покрытий для различных поверхностей.</p>
                        <br>
                        <p>Наши продукты прошли тщательное тестирование и сертификацию, что гарантирует их надежность, долговечность и высокую степень защиты от внешних воздействий. Мы постоянно следим за инновациями в отрасли и внедряем новейшие технологии, чтобы предложить нашим клиентам самые современные и эффективные решения.</p>
                    </div>
                    <div id="au2">
                        <img src="{{ Staticimages }}/wrkrimg2.png" alt="Персонал">
                    </div>
                </div>
            </div>
            <div id="odds">
                <div class="odds"><img src="{{ Staticimages }}/odds1.png" alt="Гарантия" width="80px" height="80px"> <p>Гарантия на все виды работ</p></div>
                <div class="odds"><img src="{{ Staticimages }}/odds2.png" alt="Качество материалов" width="80px" height="80px"> <p>В работе используются материалы от ведущих европейских производителей</p></div>
                <div class="odds"><img src="{{ Staticimages }}/odds3.png" alt="Гарантия" width="80px" height="80px"> <p>Высококвалифицированный персонал</p></div>
                <div class="odds"><img src="{{ Staticimages }}/odds4.png" alt="Гарантия" width="80px" height="80px"> <p>Своя лаболотория цветоподбора</p></div>
            </div>
            <hr>
            <div id="types_of_Services"></div>
            <div id="catalog">
                <h2>Виды услуг</h2>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg1.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon1.png"><p>Реставрация лакокрасочного покрытия</p><img class="ctlgimg2" src="{{ Staticimages }}/arrow.png"></div></button>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg2.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon2.png"><p>Профессиональная окраска на объекте</p><img class="ctlgimg3" src="{{ Staticimages }}/arrow.png"></div></button>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg3.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon3.png"><p>Профессиональная окраска экстерьера</p><img class="ctlgimg3" src="{{ Staticimages }}/arrow.png"></div></button>
                <button class="catalog"><div class="catalog2" style="background-image: url({{ Staticimages }}/ctlg4.png); border-radius: 20px 20px 20px 20px;"><img class="ctlgimg1" src="{{ Staticimages }}/icon4.png"><p>Профессиональная окраска ограждений и витражей</p><img class="ctlgimg2" src="{{ Staticimages }}/arrow.png"></div></button>
            </div>
            <div class="h3">
                <h3>Нам доверяют</h3>
                <img src="{{ Staticimages }}/supp1.png" alt="ФОДД">
                <img src="{{ Staticimages }}/supp2.png" alt="Российские железные дороги">
                <img src="{{ Staticimages }}/supp3.png" alt="АСК Теллур">
            </div>
            <hr>
            <div id="portfolio"></div>
            <div id="port1">
                <h2>Портфолио работ</h2>
            </div>
            <div class="portfolio-slider">
                <div class="portfolio-content">
                    <div class="portfolio-text">
                        <div class="text-slide active" data-slide="0">
                            <h4>Kazakov Grand Loft</h4>
                            <p>Kazakov Grand Loft — новый проект в исторической части Москвы, дом для тех, кто не идет на компромиссы. Все, на что город будет равняться в обозримой перспективе, находится здесь. И в центре этого мира вы. Индивидуальность даже в мелочах и комфорт, возведенный в абсолют — чем не рецепт совершенства?</p>
                            <p>Проект прогрессивной авторской архитектуры, умного наполнения и персональных панорамных видов на город. Здесь созданы условия премиального сервиса, чтобы вы не отвлекались на бытовые мелочи, а просто наслаждались жизнью.</p>
                        </div>
                        <div class="text-slide" data-slide="1">
                            <h4>Новое здание Третьяковской галереи</h4>
                            <p>Третьяковская галерея на Кадашёвской набережной — строящийся новый корпус Третьяковской галереи, расположенный
                                на Кадашёвской набережной, 10 — рядом
                                с историческими зданиями музея в Лаврушинском переулке.</p>
                            <p>Новый музейный корпус спроектирован «Моспроектом-4» и дополнен конкурсным проектом фасадов от архитектурного бюро SPEECH.</p>
                            <p>Строительство началось летом 2014 года, завершение работ запланировано на 2024 год.</p>
                        </div>
                        <div class="text-slide" data-slide="2">
                            <h4>ТРЦ Павелецкая Плаза</h4>
                            <p>ТРЦ «Павелецкая Плаза» расположится
                                в историческом центре Москвы, на первой линии Садового кольца, на площади перед Павелецким вокзалом. Торговый центр будет соединен подземным переходом через Садовое кольцо с радиальной станцией метро «Павелецкая», а также одноименным ТПУ, который свяжет транспортные артерии города с аэропортом «Домодедово».</p>
                            <p>Ежедневный пассажиропоток через станции метро и наземный транспорт составляет около 300 тыс. человек. В зоне охвата торгового центра живут и работают более 3 млн человек.</p>
                        </div>
                    </div>
                    <div class="portfolio-images">
                        <div class="image-slide active" data-slide="0">
                            <img src="{{ Staticimages }}/Portimg1.png" alt="Kazakov Grand Loft">
                        </div>
                        <div class="image-slide" data-slide="1">
                            <img src="{{ Staticimages }}/Portimg2.png" alt="Современный Интерьер">
                        </div>
                        <div class="image-slide" data-slide="2">
                            <img src="{{ Staticimages }}/Portimg3.png" alt="Экстерьерные Работы">
                        </div>
                        <div class="portfolio-controls">
                            <button class="prev-slide">
                                <img src="{{ Staticimages }}/portarrow1.png" alt="Предыдущий">
                            </button>
                            <div class="portfolio-dots">
                                <div class="portfolio-dot active" data-slide="0"></div>
                                <div class="portfolio-dot" data-slide="1"></div>
                                <div class="portfolio-dot" data-slide="2"></div>
                            </div>
                            <button class="next-slide">
                                <img src="{{ Staticimages }}/portarrow2.png" alt="Следующий">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="form"></div>
            <div id="form1">
                <h2>Оставьте заявку</h2>
            </div>
            <form id="appForm" method="post" action="/submit/">
                <div class="name">
                    <input type="text" placeholder="Ваше имя" id="name" name="full_name" value="{{ form_data.full_name if form_data else '' }}" required>
                </div>
                <div class="phone">
                    <input type="tel" placeholder="Номер телефона" id="phone" name="phone" value="{{ form_data.phone if form_data else '' }}" required>
                </div>
                <div class="message">
                    <textarea id="message" placeholder="Ваше сообщение" name="message" rows="4" cols="50"></textarea>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="confirm" name="agreement" {% if form_data and form_data.agreement %}checked{% endif %} required>
                    <label for="confirm">Нажимая кнопку "ОТПРАВИТЬ" вы соглашаетесь на обработку ваших персональных данных</label>
                </div>
                <input type="submit" value="ОТПРАВИТЬ">
            </form>
           <div class="overlay" id="overlay"></div>
            <div class="modal" id="result"></div>
            <hr style="clear: both; margin-top: 100px; margin-bottom: 50px;">
            <div id="contacts"></div>
            <div id="contacts1">Контакты</div>
            <div class="contacts">
                <div class="contacts1">
                    <p class="cntcp">г. Москва</p>
                    <p>нагорный проезд, 12Бс2</p>
                    <p class="cntcp">+7(902)907-95-94</p>
                    <p style="cursor: pointer;"><u>заказать звонок</u></p>
                    <p class="cntcp">Пн-Вс 9:00-20:00</p>
                    <p>без выходных</p>
                    <div class="social-icons">
                        <img src="{{ Staticimages }}/vk.png" alt="ВКонтакте">
                        <img src="{{ Staticimages }}/TG.png" alt="Telegram">
                        <img src="{{ Staticimages }}/whatsapp.png" alt="What's Up">
                    </div>
                    <p class="pol"><u>Политика конфиденциальности</u></p>
                </div>
                <div class="map-container">
                    <iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.607095%2C55.686277&mode=whatshere&whatshere%5Bpoint%5D=37.606606%2C55.686420&whatshere%5Bzoom%5D=17&z=16.53" allowfullscreen="true"></iframe>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer-container">
                <div class="footer-column">
                    <img src="{{ Staticimages }}/logo.png" alt="СитиПро" class="footer-logo">
                    <p class="footer-description">Реставрация (восстановление) лакокрасочного покрытия на объекте (окна, двери), профессиональная окраска на объекте (окна, двери, предметы интерьера и экстерьера, ограждения, витражи и т.д.)</p>
                </div>
                <div class="footer-column">
                    <div class="footer-nav">
                        <a href="#about_Us">О нас</a>
                        <a href="#types_of_Services">Виды услуг</a>
                        <a href="#portfolio">Портфолио</a>
                        <a href="#form">Оставьте заявку</a>
                        <a href="#contacts">Контакты</a>
                        <a href="#" class="privacy-policy">Политика конфиденциальности</a>
                    </div>
                </div>
                <div class="footer-column">
                    <div class="footer-contacts">
                        <p class="contact-bold">г. Москва</p>
                        <p>нагорный проезд, 12Бс2</p>
                        <p class="contact-bold">+7(902)907-95-94</p>
                        <p><u>заказать звонок</u></p>
                        <p class="contact-bold">Пн-Вс 9:00-20:00</p>
                        <p>без выходных</p>
                        <div class="footer-social">
                            <img src="{{ Staticimages }}/vk.png" alt="ВКонтакте">
                            <img src="{{ Staticimages }}/TG.png" alt="Telegram">
                            <img src="{{ Staticimages }}/whatsapp.png" alt="What's Up">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
     <script src="/app/static/script.js?v=1.1" defer></script>
    </body>
</html>